<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="student" class="com.sdd.model.pojo.po.Student">
		<property name="id" value="1"></property>
		<property name="name" value="张三"></property>
		<property name="phone" ref="phone"></property>
	</bean>
	<bean id="phone" class="com.sdd.model.pojo.po.Phone">
		<property name="id" value="1"></property>
		<property name="name" value="iphonex"></property>
	</bean>
	<bean id="userServiceImp" class="com.sdd.service.imp.UserServiceImp"></bean>
</beans>